<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/magic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Young+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah" >
    <title>Battle of Hogwarts</title>
</head>
<body>
<h1>here are some spells you'll want to consider:</h1>
<p> 
    <li>Expelliarmus</li>
    <li>Stupefy</li>
    <li>Protego</li>
    <li>Protego Maxima</li>
    <li>Petrificus Totalus</li>
    <li>Reducto</li>
    <li>Confringo</li>
    <li>Bombarda</li>
    <li>Diffindo</li>
    <li>Impedimenta</li>
    <li>Rictusempra</li>
    <li>Levicorpus</li>
    <li>Incarcerous</li>
    <li>Relashio</li>
    <li>Oppugno</li>
    <li>Finite Incantatem</li>
    <li>Lumos Maxima</li>
    <li>Homenum Revelio</li>
    <li>Salvio Hexia</li>
    <li>Cave Inimicum</li>
    <li>Muffliato</li>
    <li>Glisseo</li>
    <li>Everte Statum</li>
    <li>Expecto Patronum</li>
    <li>Langlock</li>
</p>

 

</body>
</html>
