body{
    background-color: #1c1a44;
}
body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    justify-content: space-between; /* Distribute elements */
    margin: 0; /* Remove default margin */
    font-family: "Young Serif", sans-serif;
    color:white;

}

.banner {
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    height: 40vh; /* Takes up 40% of viewport height */
    text-align: center;
}
h1{
    color:white;
    font-family: "Young Serif", sans-serif;

}
p{
    size: 80px;
    color:white;
    font-family: "Young Serif", sans-serif;
}
.clouds {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain; /* Ensures the full image is visible */
}


.imagesection {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    width: auto; /* Full width */
}

.date{
    font-family: Arial, Helvetica, sans-serif;
}
